Actividades/XML/ExamenXML/ejercicio3DTD/AntonioGonzalezLuque.dtd

<!ELEMENT BDAltas (cliente+)>

<!ELEMENT cliente (usuario,telefono,nick,contrasena,mail,fecha,hora,producto)>

    <!ELEMENT usuario (#PCDATA)>
    <!ELEMENT telefono (#PCDATA)>
    <!ELEMENT nick (#PCDATA)>
    <!ELEMENT contrasena (#PCDATA)>
    <!ELEMENT mail (#PCDATA)>
    <!ELEMENT fecha (#PCDATA)>
    <!ELEMENT hora (#PCDATA)>
    <!ELEMENT producto (#PCDATA)>